.newBox{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: blue;
}

#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text{
    text-align: center;
   color: white;
    
}